{{#each this}}
<section class="comments form-div">
    
    <div class="comment card">
        <div class="text card-body">
        <p class="card-text">{{comment_text}}</p>    
        </div>
        <div class="meta card-footer">
           <small>by: {{user.username}} on {{format_date created_at}}</small> 
        </div>
    </div>
    
</section>
{{/each}}